.Home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-block: 20px;
  img {
    cursor: pointer;
  }
  nav {
    display: flex;
    gap: 40px;
    a {
      font-size: 22px;
    }
  }
}
