.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
  padding-inline: 40px;
  &.scrolled {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: blue;
  }

  img {
    cursor: pointer;
  }

  nav {
    display: flex;
    gap: 40px;

    a {
      font-size: 22px;
    }
  }
}
